@charset 'utf-8';

@import 'defaults';

body {
  margin-top: 1rem;
  margin-bottom: 1rem;
  background: #444;
}

#grid {
  .column > .callout > img {
    width: 100%;
  }
}
div {
  .bottom-title > .callout {
    padding-bottom: 4rem;

    h3 {
      position: absolute;
      bottom: 0.5rem;
    }
  }
}

.callout:hover {
  @include mui-animation(wiggle(1deg));
  animation-duration: 0.3s;
}

.animate-fade-in {
  @include mui-animation(fade);
  animation-duration: 1s;
}

/* from http://stackoverflow.com/a/5700946/1154755
dl.inline dt, dl.inline dd {
    float: left;
    margin: 0 0.5em 0 0;
    background: #ccc
}

dl.inline dd + dt, dl.inline dd + dd {
    clear: left
}

dl.inline dd + dd {
    float: none
}
*/

dl.inline-dl {
  float: left;
  dt {
    width: 8rem;
  }

  dd, dt {
    float: left;
    margin-right: 0.5rem;
  }

  dd + dt {
    clear: left
  }
}

.clearfix {
  clear: left;
}
