@charset 'utf-8';

@import 'defaults';

body {
  margin-top: 1rem;
  margin-bottom: 1rem;
  background: #444;
}

#grid {
  .column > .callout > img {
    width: 100%;
  }

  .bottom-title > .callout {
    padding-bottom: 4rem;

    h3 {
      position: absolute;
      bottom: 0.5rem;
    }
  }
}

.callout:hover {
  @include mui-animation(wiggle(1deg));
  animation-duration: 0.3s;
}
